@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,200;0,300;0,400;0,600;1,100&display=swap');

a {
  text-decoration: none;
}

li {
  list-style: none;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: 100vh;
}

/* main {
  display: grid;
  grid-template-columns: column;
  width: 100%;
  height: 100vh;
  background-color: #fff;
} */

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 5rem;
  width: 100%;
  position: fixed;
  top: 1rem;
}

#nameLogo {
  margin-left: 1.5rem;
  width: 76px;
  height: 20px;
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #6070ff;
  margin-top: 1rem;
}

.imgLogo {
  margin-right: 1rem;
  margin-top: 1rem;
}

/* intro section start here */

.intro {
  margin: 0 auto;
  max-width: 37.5rem;
  padding: 1.45rem 1.0875rem;
  background: url('./assets/background-img/header-shapes-mobile.svg') 0 50px no-repeat;
  background-size: 100% auto;
  border-bottom-left-radius: 150px;
  min-height: 600px;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin-top: 7rem;
}

.primary-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 2.625rem;
  line-height: 3.25rem;
  color: #172b4d;
  align-items: center;
}

.dividerText {
  height: 1rem;
}

.secondary-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.link-text {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
  font-weight: 500;
  font-size: 1.2rem;
  color: #7f8cff;
}

/* this section are for the social links */

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 1.2rem;
  margin-top: 1rem;
}
